*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: sans-serif;
    margin-left: 7%;
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
}
#subtitulo{
    font-family: sans-serif;
    color:#f20550;
    margin-left: 10%;
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
}
fieldset{
    border: 0;
    background-color: rgb(18, 2, 5);
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
}
body{
    background-color: rgb(18, 2, 5);
    font-family: sans-serif;
    font-size: 15px;
    color: #f20550;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
}
text,select,textarea,button{
    border-radius: 5px;
    color: #f20550;
    background-color: rgb(11, 18, 2);
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
}
.campo{
    margin-bottom: 1px;
    
}
.campo label{
    margin-bottom: 0.2cm;
    color: #f20550;
    display: block;
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
   
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1cm;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2cm;
    border: 1px solid #f20550;
    box-shadow: 2px 2px 2px rgb(190, 7, 181);
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
    background-color: rgb(11, 18, 2);
    display: block;
    
}
.campo select option{
    padding-right: 1cm;
    background-color: rgb(11, 18, 2);
    
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: black;
}
.botao {
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
    color:  #f20550;
    padding: 0.2em 0.6em;
    border: 1px solid #f20550;
    box-shadow: 2px 2px 2px rgb(190, 7, 181);
    text-shadow: 2px 2px 2px rgb(190, 7, 181);
    background-color: rgb(11, 18, 2);
    position: absolute;
    bottom: -40%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.botao, select{
    cursor: pointer;
}
